/* reset */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}


/* sign up page style */

.signup-parent {
    background-color: #949494;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.sign-up {  
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 75vh;
    border-radius: 16px;
    border: 1px solid #E3E3E8;
    box-shadow: 0px 10px 30px -20px rgba(9, 64, 103, 0.5);
}

.signup-header {
    margin-bottom: 2.5rem;
}

.signup-header-title {
    font-size: 2rem;
    font-weight: 500;
    color: #094067;
    margin-bottom: 1rem;
    display: flex;
}

.signup-header-text {
    font-weight: 700;
}

.login-text {
    color: #094067;
}

.account-type {
    display: flex;
    margin-bottom: 1.5rem;
    gap: 1.2rem;
}

.account-type button {
    border-inline: none;
    border-top: none;
    background-color: transparent;
    font-size: .95rem;
    font-weight: 500;
    color: #094067;
    padding-bottom: .2rem;
}

.inactive {
    border-bottom: none;
}

.active {   
    border-bottom: 1px solid #094067;
}

/* .form {
    width: 70%;
} */

.signup-form-input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.signup-form-input div {
    display: flex;
    flex-direction: column;
}

.signup-form-input input {
    height: 2.2rem;
    width: 22rem;
    text-indent: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    border: 1px solid #4A484E;
    outline: none;
}

.signup-form-input input::placeholder {
    color: #4A484E;
}

.signup-form-input label{
    font-size: .75rem;
    font-weight: 500;
    color:  #4A484E;
}

.submit-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.submit-btn-container button {
    padding: 12px 24px;
    border-radius: 32px;
    background: #094067;
    color: white;
    font-weight: 700;
    font-size: 1.25;
    border: none;
}

/* sign up */

.signup-btn {
    margin-top: 5rem;
}

.password-match-text {
    color: rgb(241, 88, 88);
}


/* responsive sign up form */

@media screen and (max-width: 1270px) {
    .sign-up {
        width: 80%;
    }
}

@media screen and (max-width: 575px) {
    .sign-up {
        width: 100%;
    }
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
* {
  font-family: "DM Sans";
  font-weight: 16px;
  --pry-color: #094067;
  --pry-color-shade-1: #CED9E1;
  --pry-color-shade-2: #ced9e128;
  --sec-color: #705A09;
  --sec-color-shade-1: #F0E0A8;
  --sec-color-shade-2: #F4EED8;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

/* Navigation Section */
.navbar {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5%;
  background-color: #fff;
  height: 70px;
}

.nav-image {
  width: 190px;
  overflow: hidden;
}
.nav-image img {
  width: 100%;
}

.nav-links ul {
  min-width: 190px;
  padding: 0px;
  margin: 0px;
  display: flex;
  gap: 64px;
  justify-content: center;
  align-items: center;
}
.nav-links ul a {
  color: var(--pry-color);
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
}
.nav-links ul a.signup {
  color: #fff;
  padding: 16px 32px;
  border-radius: 32px;
  background-color: var(--pry-color);
}



/* Landing Page Section */
.landing-page {
  position: relative;
  background-image: linear-gradient(40deg,#0084ff1e, #fcfcfc2d);
  min-height: calc(100vh - 100px);
  padding: 10px 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}
.header-text {
  width: 500px;
  min-height: 300px;
}
.header-text h1 {
  color: var(--pry-color);
  font-size: 2.7rem;
  margin-bottom: 32px;
}
.header-text p {
  font-weight: bold;
  margin: 32px 0px;
}
.header-text a {
  margin: 32px 0px;
  color: #fff;
  padding: 16px 32px;
  border-radius: 32px;
  background-color: var(--pry-color);
  text-decoration: none;
}

.header-image {
  width: 600px;
  overflow: hidden;
}
.header-image img {
  width: 100%;
  transform: translateY(0px);
  animation: hover-image 2s infinite linear alternate-reverse;
}

@keyframes hover-image {
  0% { transform: translateY(-10px); }
  50% { transform: translateY(0px); }
  100% { transform: translateY(10px);}
}

/* Ends Here */



/* Dashboard Section */
.dashboard {
  padding: 40px 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

h2 { margin-top: 0px; }

.verification {
  border: thin solid var(--sec-color-shade-1);
  width: 100%;
  background-color: var(--sec-color-shade-2);
  padding: 32px;
  box-sizing: border-box;
  border-radius: 16px;
}
.verification h2 {
  color: var(--sec-color);
}
.verification-links {
  margin-top: 20px;
}
.verification-links a {
  display: block;
  margin: 10px 0px;
  color: #2b2b2b;
}

.other-actions {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
}
.document-section,
.history-section {
  background-color: var(--pry-color-shade-2);
  border-radius: 16px;
  border: thin solid var(--pry-color-shade-1);
  width: 550px;
  padding: 20px 40px 40px 40px;
  box-sizing: border-box;
  min-height: 400px;
}
.document-section h2,
.history-section h2 {
  color: var(--pry-color);
}
.document-upload {
  text-align: center;
}
.document-upload img,
.history-img img {
  width: 170px;
}
.document-upload p {
  margin-bottom: 40px;
}
.document-upload a {
  color: var(--pry-color);
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 32px;
  background-color: var(--pry-color-shade-1);
  text-decoration: none;
}

.history-img {
  text-align: center;
}
.history-img p {
  font-weight: bold;
}
/* Ends Here */
